<!DOCTYPE html>
<html lang="en">
	<div class="bg-success">
	  <h1 class="text-center">About Page</h1>
	</div>
	<body class="text-center">
	  <p class="lead">We are DevPoint Labs Winter 2014</p>
	  <p class="lead">The best cohort yet!</p>
	</body>
</html>
